# Everything
/*

# add project folders
/week1/blog-app
/week1/donation-web
/week2/donation-hfn-strapi
/week2/strapi-trial

#except
!.gitignore
!.md

# even if they are in subfolders
!week1/
!week2/
!week3/
!week4/

